.top1 {
	background-color: #3348FF;
	border-radius: 15px;
	border-style: solid;
}

.top2 {
	background-color: #3348FF;
	border-radius: 15px;
	border-style: solid;
}

.bottom {
	background-color: #3348FF;
	border-style: solid;
	font-size: 16px;
}